*.log
.DS_Store
.env
.env.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/storage/logs/*.log
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/testing/*
/public/mix-manifest.json
/public/vite-manifest.json
Homestead.json
Homestead.yaml
Thumbs.db
